* {
    margin: 0;
    padding: 0;
    /* background-color: black;
    color: #ffffff; */
}

body {
    /* margin: 0;
    padding: 0; */
    /* background-color: black; */
    /* text-align: center;
    color: white; */
}

/* flex classes started */

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.gap {
    gap: 20px;
}

/* flex classes end */


/* margin classes start */
.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.ml-5 {
    margin-left: 10px;
}

.mr-5 {
    margin-right: 10px;
}

/* margin classes end */

.text-center {
    text-align: center;
}



/* custom css */
#logo-img {
    width: 165px;
}

ul {
    list-style-type: none;
}

#franchise-btn {
    padding: 10px 15px;
    border: 1px solid #ffffff;
    border-radius: 20px;
}

#order-btn {
    padding: 13px 17px;
    background-color: #ed1c24;
    border: none;
    border-radius: 20px;
}




/* .parent {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
}

.box {
    border: 1px solid red;
    width: 150px;
} */


.parent {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 100px auto;
}

.box {
    width: 100px;
    height: 100px;
}

#box-1 {
    background-color: red;
}

#box-2 {
    background-color: green;
    position: absolute;
    top: 20px;
    z-index: 1;
}

#box-3 {
    background-color: blue;
    position: relative;
    top: 30px;
    z-index: 2;
}